  
<!-- Resources -->
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>



<div id="lstm"></div>
<div id="cnn_lstm"></div>
<div id="gru"></div>
<div id="cnn_gru"></div>
<div id="cnn"></div>


<!-- Styles -->
<style>
  body { background-color: #30303d; color: #fff; }
  #chartdiv {
    width: 100%;
    height: 500px;
  }
  
  </style>


<script>
// Start chart

async function getJson(){
  
  let company = "INFY"
  let response = await fetch('http://127.0.0.1:5000/api/getall/'+ company);

  if (response.ok) {
    var json = await response.json();
    console.log(json);
  } else {
    alert("HTTP-Error: " + response.status);
  }
  return json
}


setInterval(()=>{
  getJson().then( data => {

    var time_1 = data['minDates'];
    var stock_1 = data['minStocks']
    var time_15 = data['min15Dates'];
    var lstm = data['LSTM'];
    var cnnlstm = data['CNNLSTM'];
    var gru = data['GRU'];
    var cnngru = data['CNNGRU'];
    var cnn = data['CNN'];
    var CNN =[];
    var LSTM =[];
    var CNNLSTM = [];
    var GRU = [];
    var CNNGRU =[];

    var i =0; 
    while(i<time_15.length){
      CNN.push({ time_15 : time_15[i], value : cnn[i] });
      LSTM.push({ time_15 : time_15[i], value : lstm[i] });
      CNNLSTM.push({ time_15 : time_15[i], value : cnnlstm[i] });
      GRU.push({ time_15 : time_15[i], value : gru[i] });
      CNNGRU.push({ time_15 : time_15[i], value : cnngru[i] });
      i++;
    }

    var j =0; 
    while(j<time_1.length){
      CNN.push({ time_1 : time_1[j], stock_1 : stock_1[j] });
      LSTM.push({ time_1 : time_1[j], stock_1 : stock_1[j] });
      CNNLSTM.push({ time_1 : time_1[j], stock_1 : stock_1[j] });
      GRU.push({ time_1 : time_1[j], stock_1 : stock_1[j] });
      CNNGRU.push({ time_1 : time_1[j], stock_1 : stock_1[j] });
      j++;
    }

    console.log(CNN,LSTM,CNNLSTM,GRU,CNNGRU);

    am4core.disposeAllCharts();
    var div_id = ["lstm","cnn_lstm","gru","cnn_gru","cnn"];
    var values = [LSTM, CNNLSTM, GRU, CNNGRU, CNN];

    for(let k = 0; k < div_id.length; k++){
        am4core.ready(function() {
      
        // Themes begin
        am4core.useTheme(am4themes_dark);
        am4core.useTheme(am4themes_animated);
        // Themes end

        
        // Create chart
        var chart = am4core.create(div_id[k], am4charts.XYChart);
        
        
        chart.data = values[k];
        console.log(values[k]);
        
        var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
        dateAxis.renderer.grid.template.location = 0;
        dateAxis.renderer.labels.template.fill = am4core.color("#e59165");
        
        var dateAxis2 = chart.xAxes.push(new am4charts.DateAxis());
        dateAxis2.renderer.grid.template.location = 0;
        dateAxis2.renderer.labels.template.fill = am4core.color("#dfcc64");
        
        var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
        valueAxis.tooltip.disabled = true;
        valueAxis.renderer.labels.template.fill = am4core.color("#e59165");
        
        valueAxis.renderer.minWidth = 60;
        
        var valueAxis2 = chart.yAxes.push(new am4charts.ValueAxis());
        valueAxis2.tooltip.disabled = true;
        valueAxis2.renderer.labels.template.fill = am4core.color("#dfcc64");
        valueAxis2.renderer.minWidth = 60;
        valueAxis2.syncWithAxis = valueAxis;
        
        var series = chart.series.push(new am4charts.LineSeries());
        series.name = "RealTime Value";
        series.dataFields.dateX = "time_1";
        series.dataFields.valueY = "stock_1";
        series.tooltipText = "{valueY.value}";
        series.fill = am4core.color("#e59165");
        series.stroke = am4core.color("#e59165");
        //series.strokeWidth = 3;
        
        var series2 = chart.series.push(new am4charts.LineSeries());
        series2.name = "Predicted Value";
        series2.dataFields.dateX = "time_15";
        series2.dataFields.valueY = "value";
        series2.yAxis = valueAxis;
        // series2.xAxis = dateAxis2;
        series2.tooltipText = "{valueY.value}";
        series2.fill = am4core.color("#dfcc64");
        series2.stroke = am4core.color("#dfcc64");
        //series2.strokeWidth = 3;
        
        chart.cursor = new am4charts.XYCursor();
        chart.cursor.xAxis = dateAxis;
        
        var scrollbarX = new am4charts.XYChartScrollbar();
        scrollbarX.series.push(series);
        chart.scrollbarX = scrollbarX;
        
        chart.legend = new am4charts.Legend();
        chart.legend.parent = chart.plotContainer;
        chart.legend.zIndex = 100;
        
        valueAxis2.renderer.grid.template.strokeOpacity = 0.07;
        dateAxis2.renderer.grid.template.strokeOpacity = 0.07;
        dateAxis.renderer.grid.template.strokeOpacity = 0.07;
        valueAxis.renderer.grid.template.strokeOpacity = 0.07;
      
      });
    }
  });
},10000)// end am4core.ready()

</script>