 <div class="container-fluid" style="padding-left:0px;padding-right:0px;">
        <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
                <div class="form-container">
                    <form method="POST" action="/login" class="form login100-form validate-form">
                  
                <!-- <form class="login100-form validate-form"> -->
                    <span class="login100-form-title p-b-37">
                        Log In
                    </span>
                    {{#if message}}
                    <div class="alert alert-danger" role="alert">
                        {{message}}
                    </div>
                    {{/if}}
                    <div class="wrap-input100 validate-input m-b-20" data-validate="Enter username or email">
                        <input class="input100" type="text" name="username" placeholder="username or email">
                        <span class="focus-input100"></span>
                    </div>
    
                    <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
                        <input class="input100" type="password" name="password" placeholder="password">
                        <span class="focus-input100"></span>
                    </div>
    
                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">
                            Sign In
                        </button>
                    </div>
                    <br>
                    <br>
                    <div class="text-center">
                        Don't have an account? <a href="../register" class="txt2 hov1">
                            Register now
                        </a>
                    </div>
                </form>
    
                </div>
            </div>
        </div>
        
        
    
        <div id="dropDownSelect1"></div>
        
    <!--===============================================================================================-->
        <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
        <script src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
        <script src="vendor/bootstrap/js/popper.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
        <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
        <script src="vendor/daterangepicker/moment.min.js"></script>
        <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
        <script src="vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
        <script src="js/main.js"></script>
    
    </div>


{{!-- <div class="form-container">
  <form method="POST" action="/login" class="form">
    <div class="form-heading">
      Login
    </div>
    {{#if message}}
      <div class="alert alert-danger" role="alert">
          {{message}}
      </div>
    {{/if}}
    <div class="form-group input-group-sm">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" required>
    </div>
    <div class="form-group input-group-sm">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" required>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-block">Sign In</button>
    </div>
  </form>
</div> --}}


